<header class="header-block">
  <a class="website-title" routerLink="/">
    Angular HT
  </a>
  <button mat-icon-button class="menu-button" (click)="showMenu()">
    <mat-icon aria-label="menu">menu</mat-icon>
  </button>
</header>
<nav [style.display]="screenWidth < 400 ? (isMenuVisible ? 'grid' : 'none') : 'grid'" class="navigation-block">
  <a class="navigation-section" routerLink="/Projects">Projects</a>
  <a class="navigation-section" routerLink="/Teams">Teams</a>
  <a class="navigation-section" routerLink="/Users">Users</a>
</nav>
<main class="main-content" [class.main-content-shift]="screenWidth > 400 || isMenuVisible">
  <router-outlet></router-outlet>
</main>
