<form name="update-form" [formGroup]="formGroup" novalidate class="update-form">
    <h2>Update the task</h2>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Name" [(ngModel)]="updatableTask.name">
        <mat-error *ngIf="formGroup.controls['name'].invalid">
            Invalid task`s name
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" formControlName="description" matInput placeholder="Description" [(ngModel)]="updatableTask.description">
    </mat-form-field>
    <mat-form-field>
        <mat-label>State</mat-label>
        <select matNativeControl formControlName="state" placeholder="State" [(ngModel)]="updatableTask.state">
            <option [value]='0'>Added</option>
            <option [value]='1'>InProcess</option>
            <option [value]='2'>Finished</option>
            <option [value]='3'>Refused</option>
        </select>
        <mat-error *ngIf="formGroup.controls['state'].invalid">
            This is required field
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Performer</mat-label>
        <select matNativeControl formControlName="performerId" placeholder="Performer" [(ngModel)]="updatableTask.performerId">
            <option *ngFor="let performer of performers" [value]="performer.id">
                {{performer.firstName}} {{performer.lastName}}
            </option>
        </select>
        <mat-error *ngIf="formGroup.controls['performerId'].invalid">
            This is required field
        </mat-error>
    </mat-form-field>
</form>
<div class="form-actions">
    <button mat-raised-button (click)="backToMainList()">Back</button>
    <button [disabled]="formGroup.invalid" mat-raised-button (click)="updateTask()" color='primary'>Submit</button>
</div>