.item-list {
    width: 70%;
    margin: 0px auto;
}

.create-button-section {
    margin-bottom: 15px;
    
    .mat-raised-button {
        display: flex;
        justify-content: center;
    }
}

.item {
    box-shadow: 0 0 5px rgb(190, 190, 190);
    padding: 15px;
    margin-bottom: 20px;
    line-height: 25px;
}

@media all and (max-width: 400px) {
    .item-list {
        width: 95%;
    }
}