<div class="content">
    <div class="info-block">
        <h2>{{item.firstName}} {{item.lastName}}</h2>
        <p>Email: {{item.email}}</p>
        <p>Birth date: {{item.birthDate | dateUA}}</p>
        <p>Registered at: {{item.registeredAt | dateUA}}</p>
        <p>Team id: {{item?.teamId}}</p>
    </div>
    <div class="controll-buttons">
        <button mat-raised-button color="accent" class="update-button" (click)="goToUpdateDialog()">
            Update
        </button>
        <button mat-raised-button color="warn" class="delete-button" (click)="deleteItem()">
            Delete
        </button>
    </div>
</div>
